html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    background-color: #C2C5AA;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    align-items: center;
}

#imglogo {
    display: flex;
    height: 82px;
    width: 40px;
}

/* Nav Bar */

.section2 {
    background-color: #c2c5aab1; 
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Section 2 */

aside {
    max-width: 25%;
    background-image: linear-gradient(#333d298e, #582f0e92);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.962);
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    height: 100%;
}

.card {
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.574);
    transition: 0.3s;
    margin: 5px;
    text-align: center;
}

.card-header {
    text-align: center;
    width: 100%;
    height: 60px;
}