html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* BASE CSS */

nav {
    background-color: #C2C5AA;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    align-items: center;
}

#imglogo {
    display: flex;
    height: 82px;
    width: 40px;
}

/* Nav Bar */


main {
    display: flex;
    height: 100%;
}

.section2 {
    background-color: #c2c5aab1;
    flex: 75%;


}

aside {
    max-width: 25%;
    background-image: linear-gradient(#333d298e, #582f0e92);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.962);
    justify-content: center;
    text-align: center;
}